@import '../lime.less';

.sd-dialog-mask {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 2;
    .sd-dialog {
        margin: auto;
        display: inline-block;
        min-width: 30%;
        border-radius: @sdBorderRadius;
        background: #fff;
        box-shadow: 
        0 11px 15px -7px rgba(0,0,0,.2), 
        0 24px 38px 3px rgba(0,0,0,.14), 
        0 9px 46px 8px rgba(0,0,0,.12);
    }
}