@import '../lime.less';
.sd-dropdown-anchor {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    
}

.sd-dropdown {
    position: fixed;
    background: #fff;
    .sd-dropdown-item {
        box-sizing: border-box;
        padding: 5px 10px;
        min-width: 200px;
        &:hover {
            background: lighten(@primaryColor, 35%);
        }
    }

    border-radius: @sdBorderRadius;
    .sd-box-shadow;
    z-index: 1;
}

.sd-dropdown-mask {
    position: fixed;
    background: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}