@import '../lime.less';


.sd-button {
    border-radius: @sdBorderRadius;
    cursor: pointer;
    padding: 10px 16px;
    position: relative;

    &:active, &:focus {
        outline: none;
    }

    &.primary {
        color: white;
        border: 1px solid @primaryColor;
        background: @primaryColor;
        &.active {
            box-shadow: none;
            background-color: lighten(@primaryColor, 8%);
            border-color: lighten(@primaryColor, 8%);
        }
        
        &::before {
            content: " ";
            background: transparent;
            display: block;
            position: absolute;
            pointer-events: none;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &:hover::before{
            background: #fff;
            opacity: 0.1;
        }

        .sd-box-shadow;
    }

    &.text {
        color: @primaryColor;
        border: 1px solid transparent;
        &:hover {
            background-color: lighten(@primaryColor, 50%);
            border: 1px solid lighten(@primaryColor, 50%);
        }
    }

    
}